body{
	margin: 0;
	padding: 0;
	height: 600px;
	display: flex;
	justify-content: center;
	font-family: "Roboto", sans-serif;	
	flex-wrap: wrap;
}

/* Media screen za bolji response stranice */

/*Tablet media query */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

	#popup {
		padding: 1px;
		border-radius: 30px;
		position: absolute; 
		width: 775px;
		top: 125% !important;  
		left: 10% !important; 
		background-color: white;
		display: block;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: opacity 0.7s;
		transition: opacity 0.7s;
  }

	.registration{
		cursor:pointer;
		font-size:35px !important;
		color:white;
		right:35% !important;
		position: absolute;
		padding:20px;
		border:none;
		background-color: Transparent;
	}

	.login{
		cursor:pointer;
		font-size:35px !important;
		color:white;
		right:0% !important;
		position: absolute;
		padding:20px;
		border:none;
		background-color: Transparent;
	}

	.person{
		align-items: center;
		display: flex;
		flex-direction: column;
		width:500px !important;
		padding:5%;
	}

	.alert{
		font-weight: bold;
		left: 6% !important;
		top:1%;
		position: absolute;
		text-align: center;
		padding: 15px;
		background-color: none;
		color: rgb(255, 255, 255);
		opacity: 1;
		transition: opacity 0.6s;
		margin-bottom: 15px;
		font-size: 50px !important;
	}

	.registrationForm{
		margin-left: auto;
		margin-right: auto;
		background-color: white;
		font-size: 25px;
		height:550px;
		border-radius: 20px;
	}
	
	.loginForm{
		margin-left: auto;
		margin-right: auto;
		background-color: white;
		font-size: 25px;
		height:370px;
		border-radius: 20px;	
	}

	.modal{
		display: none;
		z-index: 1;
		height: 22%;
		width: 880px !important;
		position: absolute;
		top: 490px !important;
		left: 10% !important;
		margin-left: -70px;
		background-color: rgb(255, 255, 255);
		padding-top: 60px;
		border-radius: 20px;
		opacity: 0.9;
	}
}

/*iPods PRO media query */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {

}

/* ------------------------------------------- */

a{
	text-decoration:none;
}

a:hover{
	cursor:grab;
}

.background{
	background: url(../Slike/BackgroundGlavnaStranica.jpg) no-repeat center fixed; 
	background-size: cover;
}

.person{
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 280px;
	padding:5%;
}

.container{
	border-radius: 50%;
	height: 312px;
	-webkit-tap-highlight-color: transparent;
	transform: scale(0.48);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	width: 400px;
}

.container:after{
	background-color: #f2f2f2;
	content: "";
	height: 10px;
	position: absolute;
	top: 390px;
	width: 100%;
}

.container:hover{
	transform: scale(0.54);
}

.container-inner{
	position: relative;
	transform-origin: 50%;
	top: -200px;
}

.circle{
	background-color: #fee7d3;
	border-radius: 50%;
	height: 380px;
	left: 10px;
	pointer-events: none;
	position: absolute;
	top: 210px;
	width: 380px;
}

.img{
	pointer-events: none;
	position: relative;
	transform: translateY(20px) scale(1.15);
	transform-origin: 50% bottom;
	transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container:hover .img{
	transform: translateY(0) scale(1.2);
}

.img1{
	left: 110px;
	top: 280px;
	width: 180px;
}

.img2{
	left: 110px;
	top: 280px;
	width: 180px;
}

.img3{
	left: 110px;
	top: 280px;
	width: 180px;
}

.divider{
	background-color: #ca6060;
	height: 5px;
	width: 160px;
}

.name{
	color: #ffffff;
	font-size: 40px;
	font-weight: 600;
	margin-top: 16px;
	text-align: center;
}

.name:hover{
	color:#FF2E00;
	font-size: 45px;
}

.title{
	color: #ffffff;
	font-family: arial;
	font-size: 20px;
	font-style: italic;
	margin-top: 4px;
}

.title:hover{
	color:black;
	font-size: 35px;
	background: white;
	font-weight: bold;
	position: fixed;
	margin-left: -6%;
	border-radius: 100%;
}

::selection{ 
	background-color: #476f30; 
	color: #fff; 
}

#decoration{
	text-decoration: underline;
	color: blue;
}

/*Style popup-ova*/

#popup{
	padding: 1px;
	border-radius: 30px;
	position: absolute; 
	width: 775px;
  	top: 75%; 
  	align-items: center;
	background-color: white;
	display: block;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.7s;
	transition: opacity 0.7s;
	background-attachment: scroll;
}

.popupFont{
	font-size: 25px;	
	font-weight: bold;
	margin: 30px;
}

.alert{
	font-weight: bold;
	left:40%;
	top:1%;
	position: absolute;
	text-align: center;
	padding: 15px;
	background-color: none;
	color: rgb(255, 255, 255);
	opacity: 1;
	transition: opacity 0.6s;
	margin-bottom: 15px;
	font-size: 90px;
}

#alert{
	left:100%;
	top:1%;
	position: absolute;
	padding: 15px;
	color: rgb(255, 0, 0);
	font-size: 90px;
	text-decoration: underline;
}

.closebtn{
	padding: 9px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	float: right;
	font-size: 40px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
	margin: 5px;
}

.closebtn:hover{
	color: rgb(255, 0, 0);
}

/*Style registracije i logina (FORMA)*/

.registrationForm{
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	font-size: 25px;
	height:550px;
	border-radius: 20px;
}

.loginForm{
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	font-size: 25px;
	height:370px;
	border-radius: 20px;	
}

#center{
	margin-left: auto;
    margin-right: auto;
	text-align: center;
}

input[type=text],
input[type=password],
input[type=email]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 2px solid #ccc;
	box-sizing: border-box;
	font-size: 20px;
}

input[type=radio]{
	width: 50px;
	height:25px;
}

input[type=phone]{
	width: 60%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 2px solid #ccc;
	box-sizing: border-box;
	font-size: 20px;
}

input[type=checkbox]{
	width: 25px;
	height:20px;
}

.select{
	font-size: 25px;
}

.cancelbtn{
	padding: 14px;
	background-color: #FF2E00;
	font-size: 25px;
	width:100px;
	cursor:pointer;
}

.signupbtn{
	padding: 14px;
	background-color: #FF2E00;
	font-size: 25px;
	cursor:pointer;
}

.loginbtn{
	padding: 14px;
	background-color: #FF2E00;
	font-size: 25px;
	width:250px;
	cursor:pointer;
}

.logout{
	cursor:pointer;
	font-size:40px;
	color:white;
	right:2%;
	position: absolute;
	padding:20px;
}

.logout:hover{
color:rgb(255, 0, 0);
border:5px rgb(255, 0, 0) solid;
}

.modal{
	display: none;
	z-index: 1;
	height: 22%;
    width: 1000px;
    position: absolute;
    top: 300px;
    left: 38%;
    margin-left: -70px;
	background-color: rgb(255, 255, 255);
	padding-top: 60px;
	border-radius: 20px;
	opacity: 0.9;
}

.close{
	position: absolute;
	right: 35px;
	top: 15px;
	color: #000;
	font-size: 40px;
	font-weight: bold;
	border: none;
	background-color: white;
}

.close:hover,
.close:focus {
	color: red;
	cursor: pointer;
} 

.signupbtn,.cancelbtn{
	width:25%;
}

/*Style registracije i logina*/

.registration{
	cursor:pointer;
	font-size:40px;
	color:white;
	right:50%;
	position: absolute;
	padding:20px;
	border:none;
	background-color: Transparent;
}

.registration:hover {
	color:rgb(255, 0, 0);
	border:5px rgb(255, 0, 0) solid;
}

.login{
	cursor:pointer;
	font-size:40px;
	color:white;
	right:0%;
	position: absolute;
	padding:20px;
	border:none;
	background-color: Transparent;
}

.login:hover{
	color:rgb(255, 0, 0);
	border:5px rgb(255, 0, 0) solid;
}

#border{
	width:517px;
	height:97px;
	position: absolute;
	right:1%;
}

/*Style eye1 i eye za register i login formu  */

.password-container{
    position: relative;
}

.password-container input[type="password"]{
    padding-right: 20px;
}

.password-container img.eye{
	opacity: 70%;
    position: absolute;
	width:10%;
    height:60%; 
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-container img.eye1{
	opacity: 70%;
    position: absolute;
	width:13%;
    height:50%; 
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
/*/

/* RealTime poruke za neregistrirane korisnike */

.img_chat{
	width: 110px;
	height:100px;
	position: fixed;
  	right: 1%;
  	bottom: 1%;
  	padding: 10px;
	cursor: pointer;
}

.message-window{
	position: fixed;
	bottom: -300px;
	right: -7%;
	transform: translateX(-50%);
	width: 400px;
	border: 5px solid #ff0000;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: bottom 0.3s ease; 
}

.textarea{
	font-size: 15pt;
	width: 88%;
  	position: fixed;
  	bottom: 80px;
	resize: none;
	left: 5%;

}

.buttonsnd {
    display: block;
    margin: 0 auto;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 150px;
    height: 70px;
    cursor: pointer;
}

.button-img,
.button-hover-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 0.3s; /* Dodajemo prijelaz za glatko prelazak prozirnosti */
}

.button-hover-img {
    opacity: 0; /* Postavljamo prozirnost na 0 za drugu sliku */
}

.buttonsnd:hover .button-img {
    opacity: 0; /* Postavljamo prozirnost na 0 za prvu sliku tijekom hovera */
}

.buttonsnd:hover .button-hover-img {
    opacity: 1; /* Postavljamo prozirnost na 1 za drugu sliku tijekom hovera */
}

#chat{
	width: 98%;
	height: 100%;
	background-color: white;
	border: 3px solid #ff0000;
	border-radius: 10px;
}
/*/